.Btn {
  border-radius: 70px;
  border-color: blue;
  background-color: rgb(27, 23, 23);
  color:aliceblue

}


.centralized {
  text-align: center;
}

.biop {
  font-family:'Courier New', Courier, monospace
}
